In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [28]:
client= pd.read_csv('Client_data.csv')

client

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max,churn
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,6/15/2013,6/15/2016,11/1/2015,6/23/2015,0.00,...,t,0.00,25.44,25.44,2,678.99,3,lxidpiddsbxsbosboudacockeimpuepw,43.648,1
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,8/21/2009,8/30/2016,8/21/2009,8/31/2015,189.95,...,f,0.00,16.38,16.38,1,18.89,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.800,0
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,4/16/2010,4/16/2016,4/16/2010,4/17/2015,47.96,...,f,0.00,28.60,28.60,1,6.60,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.856,0
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,3/30/2010,3/30/2016,3/30/2010,3/31/2015,240.04,...,f,0.00,30.22,30.22,1,25.46,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200,0
4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,1/13/2010,3/7/2016,1/13/2010,3/9/2015,445.75,...,f,52.32,44.91,44.91,1,47.98,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,19.800,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14601,18463073fb097fc0ac5d3e040f356987,foosdfpfkusacimwkcsosbicdxkicaua,32270,47940,0,5/24/2012,5/8/2016,5/8/2015,5/26/2014,4648.01,...,t,0.00,27.88,27.88,2,381.77,4,lxidpiddsbxsbosboudacockeimpuepw,15.000,0
14602,d0a6f71671571ed83b2645d23af6de00,foosdfpfkusacimwkcsosbicdxkicaua,7223,0,181,8/27/2012,8/27/2016,8/27/2012,8/28/2015,631.69,...,f,15.94,0.00,0.00,1,90.34,3,lxidpiddsbxsbosboudacockeimpuepw,6.000,1
14603,10e6828ddd62cbcf687cb74928c4c2d2,foosdfpfkusacimwkcsosbicdxkicaua,1844,0,179,2/8/2012,2/7/2016,2/8/2012,2/9/2015,190.39,...,f,18.05,39.84,39.84,1,20.38,4,lxidpiddsbxsbosboudacockeimpuepw,15.935,1
14604,1cf20fd6206d7678d5bcafd28c53b4db,foosdfpfkusacimwkcsosbicdxkicaua,131,0,0,8/30/2012,8/30/2016,8/30/2012,8/31/2015,19.34,...,f,0.00,13.08,13.08,1,0.96,3,lxidpiddsbxsbosboudacockeimpuepw,11.000,0
14605,563dde550fd624d7352f3de77c0cdfcd,MISSING,8730,0,0,12/18/2009,12/17/2016,12/18/2009,12/21/2015,762.41,...,f,0.00,11.84,11.84,1,96.34,6,ldkssxwpmemidmecebumciepifcamkci,10.392,0

In [41]:
client = pd.DataFrame(client) # making client a dataframe variable
client

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max,churn
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,6/15/2013,6/15/2016,11/1/2015,6/23/2015,0.00,...,t,0.00,25.44,25.44,2,678.99,3,lxidpiddsbxsbosboudacockeimpuepw,43.648,1
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,8/21/2009,8/30/2016,8/21/2009,8/31/2015,189.95,...,f,0.00,16.38,16.38,1,18.89,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.800,0
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,4/16/2010,4/16/2016,4/16/2010,4/17/2015,47.96,...,f,0.00,28.60,28.60,1,6.60,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.856,0
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,3/30/2010,3/30/2016,3/30/2010,3/31/2015,240.04,...,f,0.00,30.22,30.22,1,25.46,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200,0
4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,1/13/2010,3/7/2016,1/13/2010,3/9/2015,445.75,...,f,52.32,44.91,44.91,1,47.98,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,19.800,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14601,18463073fb097fc0ac5d3e040f356987,foosdfpfkusacimwkcsosbicdxkicaua,32270,47940,0,5/24/2012,5/8/2016,5/8/2015,5/26/2014,4648.01,...,t,0.00,27.88,27.88,2,381.77,4,lxidpiddsbxsbosboudacockeimpuepw,15.000,0
14602,d0a6f71671571ed83b2645d23af6de00,foosdfpfkusacimwkcsosbicdxkicaua,7223,0,181,8/27/2012,8/27/2016,8/27/2012,8/28/2015,631.69,...,f,15.94,0.00,0.00,1,90.34,3,lxidpiddsbxsbosboudacockeimpuepw,6.000,1
14603,10e6828ddd62cbcf687cb74928c4c2d2,foosdfpfkusacimwkcsosbicdxkicaua,1844,0,179,2/8/2012,2/7/2016,2/8/2012,2/9/2015,190.39,...,f,18.05,39.84,39.84,1,20.38,4,lxidpiddsbxsbosboudacockeimpuepw,15.935,1
14604,1cf20fd6206d7678d5bcafd28c53b4db,foosdfpfkusacimwkcsosbicdxkicaua,131,0,0,8/30/2012,8/30/2016,8/30/2012,8/31/2015,19.34,...,f,0.00,13.08,13.08,1,0.96,3,lxidpiddsbxsbosboudacockeimpuepw,11.000,0
14605,563dde550fd624d7352f3de77c0cdfcd,MISSING,8730,0,0,12/18/2009,12/17/2016,12/18/2009,12/21/2015,762.41,...,f,0.00,11.84,11.84,1,96.34,6,ldkssxwpmemidmecebumciepifcamkci,10.392,0

In [42]:
client.columns #number of columns we have in the data set

Index(['id', 'channel_sales', 'cons_12m', 'cons_gas_12m', 'cons_last_month',
       'date_activ', 'date_end', 'date_modif_prod', 'date_renewal',
       'forecast_cons_12m', 'forecast_cons_year', 'forecast_discount_energy',
       'forecast_meter_rent_12m', 'forecast_price_energy_off_peak',
       'forecast_price_energy_peak', 'forecast_price_pow_off_peak', 'has_gas',
       'imp_cons', 'margin_gross_pow_ele', 'margin_net_pow_ele', 'nb_prod_act',
       'net_margin', 'num_years_antig', 'origin_up', 'pow_max', 'churn'],
      dtype='object')

In [43]:
client.size ## gives us the number of cells in tha data

379756

In [44]:
client.columns.value_counts() #count of columns to check wether any column is repeated or not

id                                1
channel_sales                     1
cons_12m                          1
cons_gas_12m                      1
cons_last_month                   1
date_activ                        1
date_end                          1
date_modif_prod                   1
date_renewal                      1
forecast_cons_12m                 1
forecast_cons_year                1
forecast_discount_energy          1
forecast_meter_rent_12m           1
forecast_price_energy_off_peak    1
forecast_price_energy_peak        1
forecast_price_pow_off_peak       1
has_gas                           1
imp_cons                          1
margin_gross_pow_ele              1
margin_net_pow_ele                1
nb_prod_act                       1
net_margin                        1
num_years_antig                   1
origin_up                         1
pow_max                           1
churn                             1
Name: count, dtype: int64

In [45]:
client.columns.value_counts().sum() #total number of columns we have in the data set

np.int64(26)

In [46]:
client.info() # getting the data types of the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14606 entries, 0 to 14605
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14606 non-null  object
 1   channel_sales                   14606 non-null  object
 2   cons_12m                        14606 non-null  int64
 3   cons_gas_12m                    14606 non-null  int64
 4   cons_last_month                 14606 non-null  int64
 5   date_activ                      14606 non-null  object
 6   date_end                        14606 non-null  object
 7   date_modif_prod                 14606 non-null  object
 8   date_renewal                    14606 non-null  object
 9   forecast_cons_12m               14606 non-null  float64
 10  forecast_cons_year              14606 non-null  int64
 11  forecast_discount_energy        14606 non-null  int64
 12  forecast_meter_rent_12m         14606 non-null  float64
 13  forecast_price_energy_off_peak  14606 non-null  float64
 14  forecast_price_energy_peak      14606 non-null  float64
 15  forecast_price_pow_off_peak     14606 non-null  float64
 16  has_gas                         14606 non-null  object
 17  imp_cons                        14606 non-null  float64
 18  margin_gross_pow_ele            14606 non-null  float64
 19  margin_net_pow_ele              14606 non-null  float64
 20  nb_prod_act                     14606 non-null  int64
 21  net_margin                      14606 non-null  float64
 22  num_years_antig                 14606 non-null  int64
 23  origin_up                       14606 non-null  object
 24  pow_max                         14606 non-null  float64
 25  churn                           14606 non-null  int64
dtypes: float64(10), int64(8), object(8)
memory usage: 2.9+ MB

### Basic STATS from the dataset

In [47]:
client.describe()

,cons_12m,cons_gas_12m,cons_last_month,forecast_cons_12m,forecast_cons_year,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_off_peak,forecast_price_energy_peak,forecast_price_pow_off_peak,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,pow_max,churn
count,1.460600e+04,1.460600e+04,14606.000000,14606.000000,14606.000000,14606.000000,14606.000000,14606.000000,14606.000000,14606.000000,14606.000000,14606.000000,14606.000000,14606.000000,14606.000000,14606.000000,14606.000000,14606.000000
mean,1.592203e+05,2.809238e+04,16090.269752,1868.614880,1399.762906,0.966726,63.086871,0.137283,0.050491,43.130056,152.786896,24.565121,24.562517,1.292346,189.264522,4.997809,18.135136,0.097152
std,5.734653e+05,1.629731e+05,64364.196422,2387.571531,3247.786255,5.108289,66.165783,0.024623,0.049037,4.485988,341.369366,20.231172,20.230280,0.709774,311.798130,1.611749,13.534743,0.296175
min,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,3.300000,0.000000
25%,5.674750e+03,0.000000e+00,0.000000,494.995000,0.000000,0.000000,16.180000,0.116340,0.000000,40.606701,0.000000,14.280000,14.280000,1.000000,50.712500,4.000000,12.500000,0.000000
50%,1.411550e+04,0.000000e+00,792.500000,1112.875000,314.000000,0.000000,18.795000,0.143166,0.084138,44.311378,37.395000,21.640000,21.640000,1.000000,112.530000,5.000000,13.856000,0.000000
75%,4.076375e+04,0.000000e+00,3383.000000,2401.790000,1745.750000,0.000000,131.030000,0.146348,0.098837,44.311378,193.980000,29.880000,29.880000,1.000000,243.097500,6.000000,19.172500,0.000000
max,6.207104e+06,4.154590e+06,771203.000000,82902.830000,175375.000000,30.000000,599.310000,0.273963,0.195975,59.266378,15042.790000,374.640000,374.640000,32.000000,24570.650000,13.000000,320.000000,1.000000

In [48]:
client.describe().T # transposing the table which makes it easier to read when we have large number of columns

,count,mean,std,min,25%,50%,75%,max
cons_12m,14606.0,159220.286252,573465.264198,0.0,5674.750000,14115.500000,40763.750000,6.207104e+06
cons_gas_12m,14606.0,28092.375325,162973.059057,0.0,0.000000,0.000000,0.000000,4.154590e+06
cons_last_month,14606.0,16090.269752,64364.196422,0.0,0.000000,792.500000,3383.000000,7.712030e+05
forecast_cons_12m,14606.0,1868.614880,2387.571531,0.0,494.995000,1112.875000,2401.790000,8.290283e+04
forecast_cons_year,14606.0,1399.762906,3247.786255,0.0,0.000000,314.000000,1745.750000,1.753750e+05
forecast_discount_energy,14606.0,0.966726,5.108289,0.0,0.000000,0.000000,0.000000,3.000000e+01
forecast_meter_rent_12m,14606.0,63.086871,66.165783,0.0,16.180000,18.795000,131.030000,5.993100e+02
forecast_price_energy_off_peak,14606.0,0.137283,0.024623,0.0,0.116340,0.143166,0.146348,2.739630e-01
forecast_price_energy_peak,14606.0,0.050491,0.049037,0.0,0.000000,0.084138,0.098837,1.959750e-01
forecast_price_pow_off_peak,14606.0,43.130056,4.485988,0.0,40.606701,44.311378,44.311378,5.926638e+01
imp_cons,14606.0,152.786896,341.369366,0.0,0.000000,37.395000,193.980000,1.504279e+04
margin_gross_pow_ele,14606.0,24.565121,20.231172,0.0,14.280000,21.640000,29.880000,3.746400e+02
margin_net_pow_ele,14606.0,24.562517,20.230280,0.0,14.280000,21.640000,29.880000,3.746400e+02
nb_prod_act,14606.0,1.292346,0.709774,1.0,1.000000,1.000000,1.000000,3.200000e+01
net_margin,14606.0,189.264522,311.798130,0.0,50.712500,112.530000,243.097500,2.457065e+04
num_years_antig,14606.0,4.997809,1.611749,1.0,4.000000,5.000000,6.000000,1.300000e+01
pow_max,14606.0,18.135136,13.534743,3.3,12.500000,13.856000,19.172500,3.200000e+02
churn,14606.0,0.097152,0.296175,0.0,0.000000,0.000000,0.000000,1.000000e+00

In [49]:
client.columns.unique()

Index(['id', 'channel_sales', 'cons_12m', 'cons_gas_12m', 'cons_last_month',
       'date_activ', 'date_end', 'date_modif_prod', 'date_renewal',
       'forecast_cons_12m', 'forecast_cons_year', 'forecast_discount_energy',
       'forecast_meter_rent_12m', 'forecast_price_energy_off_peak',
       'forecast_price_energy_peak', 'forecast_price_pow_off_peak', 'has_gas',
       'imp_cons', 'margin_gross_pow_ele', 'margin_net_pow_ele', 'nb_prod_act',
       'net_margin', 'num_years_antig', 'origin_up', 'pow_max', 'churn'],
      dtype='object')

In [56]:
price= pd.read_csv('price_data (1).csv')

price

,id,price_date,price_off_peak_var,price_peak_var,price_mid_peak_var,price_off_peak_fix,price_peak_fix,price_mid_peak_fix
0,038af19179925da21a25619c5a24b745,1/1/2015,0.151367,0.000000,0.000000,44.266931,0.00000,0.000000
1,038af19179925da21a25619c5a24b745,2/1/2015,0.151367,0.000000,0.000000,44.266931,0.00000,0.000000
2,038af19179925da21a25619c5a24b745,3/1/2015,0.151367,0.000000,0.000000,44.266931,0.00000,0.000000
3,038af19179925da21a25619c5a24b745,4/1/2015,0.149626,0.000000,0.000000,44.266931,0.00000,0.000000
4,038af19179925da21a25619c5a24b745,5/1/2015,0.149626,0.000000,0.000000,44.266931,0.00000,0.000000
...,...,...,...,...,...,...,...,...
192997,16f51cdc2baa19af0b940ee1b3dd17d5,8/1/2015,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
192998,16f51cdc2baa19af0b940ee1b3dd17d5,9/1/2015,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
192999,16f51cdc2baa19af0b940ee1b3dd17d5,10/1/2015,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
193000,16f51cdc2baa19af0b940ee1b3dd17d5,11/1/2015,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
193001,16f51cdc2baa19af0b940ee1b3dd17d5,12/1/2015,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555

In [58]:
price= pd.DataFrame(price)

price

,id,price_date,price_off_peak_var,price_peak_var,price_mid_peak_var,price_off_peak_fix,price_peak_fix,price_mid_peak_fix
0,038af19179925da21a25619c5a24b745,1/1/2015,0.151367,0.000000,0.000000,44.266931,0.00000,0.000000
1,038af19179925da21a25619c5a24b745,2/1/2015,0.151367,0.000000,0.000000,44.266931,0.00000,0.000000
2,038af19179925da21a25619c5a24b745,3/1/2015,0.151367,0.000000,0.000000,44.266931,0.00000,0.000000
3,038af19179925da21a25619c5a24b745,4/1/2015,0.149626,0.000000,0.000000,44.266931,0.00000,0.000000
4,038af19179925da21a25619c5a24b745,5/1/2015,0.149626,0.000000,0.000000,44.266931,0.00000,0.000000
...,...,...,...,...,...,...,...,...
192997,16f51cdc2baa19af0b940ee1b3dd17d5,8/1/2015,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
192998,16f51cdc2baa19af0b940ee1b3dd17d5,9/1/2015,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
192999,16f51cdc2baa19af0b940ee1b3dd17d5,10/1/2015,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
193000,16f51cdc2baa19af0b940ee1b3dd17d5,11/1/2015,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
193001,16f51cdc2baa19af0b940ee1b3dd17d5,12/1/2015,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555

In [59]:
client.columns.unique()

Index(['id', 'channel_sales', 'cons_12m', 'cons_gas_12m', 'cons_last_month',
       'date_activ', 'date_end', 'date_modif_prod', 'date_renewal',
       'forecast_cons_12m', 'forecast_cons_year', 'forecast_discount_energy',
       'forecast_meter_rent_12m', 'forecast_price_energy_off_peak',
       'forecast_price_energy_peak', 'forecast_price_pow_off_peak', 'has_gas',
       'imp_cons', 'margin_gross_pow_ele', 'margin_net_pow_ele', 'nb_prod_act',
       'net_margin', 'num_years_antig', 'origin_up', 'pow_max', 'churn'],
      dtype='object')

In [63]:
GD1=client.groupby(['date_activ', 'date_end', 'date_modif_prod', 'date_renewal', 'num_years_antig','churn']).size().reset_index(name='Count')

GD1.head(50)

,date_activ,date_end,date_modif_prod,date_renewal,num_years_antig,churn,Count
0,1/1/2004,1/1/2017,12/16/2015,1/2/2016,12,0,1
1,1/1/2005,1/1/2017,5/24/2015,1/2/2016,11,0,1
2,1/1/2006,1/1/2017,1/1/2006,1/2/2016,10,0,1
3,1/1/2007,1/1/2017,1/1/2007,1/2/2016,9,0,1
4,1/1/2007,1/17/2017,1/1/2007,1/18/2016,9,0,1
5,1/1/2008,1/1/2017,1/1/2008,1/2/2016,8,0,1
6,1/1/2010,1/1/2017,1/1/2010,1/2/2016,6,0,18
7,1/1/2010,1/1/2017,11/17/2015,1/2/2016,6,0,4
8,1/1/2010,1/1/2017,11/18/2015,1/2/2016,6,0,3
9,1/1/2010,1/1/2017,4/28/2015,1/2/2016,6,0,1
10,1/1/2010,1/1/2017,4/29/2015,1/2/2016,6,0,1
11,1/1/2010,1/1/2017,5/26/2015,1/2/2016,6,0,1
12,1/1/2010,1/1/2017,5/9/2014,1/2/2016,6,0,1
13,1/1/2010,1/1/2017,7/17/2014,1/2/2016,6,0,1
14,1/1/2010,12/31/2016,1/1/2010,1/1/2016,6,0,1
15,1/1/2010,2/29/2016,1/1/2010,3/6/2015,6,0,1
16,1/1/2010,2/29/2016,1/1/2010,3/9/2015,6,0,1
17,1/1/2010,2/29/2016,7/11/2014,3/9/2015,6,0,2
18,1/1/2010,3/2/2016,1/1/2010,3/6/2015,6,0,1
19,1/1/2011,1/1/2017,11/16/2015,1/2/2016,5,0,1
20,1/1/2011,1/1/2017,11/18/2015,1/2/2016,5,0,1
21,1/1/2011,1/1/2017,5/24/2015,1/2/2016,5,0,1
22,1/1/2011,7/16/2016,7/16/2013,7/17/2015,5,0,1
23,1/1/2012,1/1/2017,1/1/2012,1/2/2016,4,0,11
24,1/1/2012,1/1/2017,11/17/2015,1/2/2016,4,0,1
25,1/1/2012,1/1/2017,5/24/2015,1/2/2016,4,0,1
26,1/1/2012,1/1/2017,5/24/2015,1/2/2016,4,1,1
27,1/1/2012,1/1/2017,6/27/2014,1/2/2016,4,0,1
28,1/1/2012,3/14/2016,3/14/2014,3/17/2015,4,0,1
29,1/1/2013,1/1/2017,1/1/2013,1/2/2016,3,0,1
30,1/1/2013,1/1/2017,10/29/2013,1/2/2016,3,0,1
31,1/1/2013,1/1/2017,11/16/2015,1/2/2016,3,0,1
32,1/1/2013,1/1/2017,11/17/2015,1/2/2016,3,0,1
33,1/1/2013,1/1/2017,12/18/2015,1/2/2016,3,0,1
34,1/1/2013,1/1/2017,5/24/2015,1/2/2016,3,0,1
35,1/1/2013,4/30/2016,4/30/2014,5/1/2015,3,0,1
36,1/10/2011,1/10/2017,1/10/2011,1/11/2016,5,0,4
37,1/10/2011,1/10/2017,1/10/2011,1/11/2016,5,1,1
38,1/10/2011,2/29/2016,1/10/2011,3/9/2015,5,0,1
39,1/10/2011,3/7/2016,1/10/2011,3/9/2015,5,0,2
40,1/10/2011,3/7/2016,3/9/2015,3/9/2015,5,0,1
41,1/10/2011,3/8/2016,1/6/2011,3/9/2015,5,0,1
42,1/10/2011,3/9/2016,1/10/2011,3/10/2015,5,1,1
43,1/10/2011,7/12/2016,7/12/2013,7/14/2015,5,0,1
44,1/10/2012,1/10/2017,1/10/2012,1/11/2016,4,0,7
45,1/10/2012,1/10/2017,11/18/2015,1/11/2016,4,0,2
46,1/10/2012,1/10/2017,4/1/2015,1/11/2016,4,0,1
47,1/10/2012,1/10/2017,5/24/2015,1/11/2016,4,0,1
48,1/10/2012,1/9/2017,11/16/2015,1/10/2016,4,0,1
49,1/10/2012,3/11/2016,3/11/2015,1/11/2015,4,1,1